#content {
  background-color: black;
}

.nav-obj {
  margin: 3rem;
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: green;
  font-weight: bold;
  color: black;
}

a:hover {
  background-color: rgb(83, 156, 83);
}

.main-headline {
  font-family: cursive;
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
}

.about-text {
  font-family: cursive;
  font-size: 2.5rem;
  color: white;
}

.pic {
  width: 100%;
}
